<footer class="footer row">

    
    <div class="col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1 col-sm-6 col-xs-6">
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li class="ead" style="display: none;">
          <span class="hide">youreabot</span><span class="at">@</span><span class="domain">example.com</span>
        </li>
      </ul>
    </div>

    <div class="col-md-push-6 col-lg-push-6 col-lg-2 col-md-2 col-sm-6 col-xs-6">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          <a href="https://github.com/{{ site.github_username }}">
            <i class="fa fa-github"></i>
            <span class="username">{{ site.github_username }}</span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_username }}">
            <i class="fa my-fa-twt"></i>
            <span class="username">{{ site.twitter_username }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>

    <div class="description col-md-pull-1 col-lg-pull-1 col-lg-4 col-md-4 col-sm-12">
      <p class="text">{{ site.description }}</p>
    </div>


</footer>


<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script type="text/javascript" src="/javascript/main.js"></script>