.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}


img.rounded{
  border-radius: 100%;
}

.ead .domain{
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align:left;
}

footer.footer{
  position: fixed;
  bottom: 0;
  background: #fff;
  @include media-query(990px) {
    position: relative;
    background: none;
    .social-media-list{
      text-align: right;
    }
  }
}

body > .container{
  margin-bottom: 80px;
}