<!DOCTYPE html>
<html>

  {% include head.html %}

  <body class="layout-default">

    {% include header.html %}

    {% if page.image %}
      <div class="cover-image-container" style="background-image: url(/images/covers/{{ page.image }})"></div>
    {% endif %}
    <div
      {% if page.image %}
        class="container-fluid cover-image"
      {% else %}
        class="container"
      {% endif %}
    >
    
      {{ content }}
      {% include footer.html %}
    </div>
    
  </body>

</html>
